@keyframes rocket {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(450px) translateX(-200px) rotate(-20deg);
  }
  100% {
    opacity: 1;
    transform: scale(0.9) translateX(100px) translateY(20px) rotate(45deg);
  }
}
@keyframes teaching {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(200px) translateY(150px) rotate(50deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1.35) translateX(-25px) translateY(-20px) rotate(-30deg);
  }
}
@keyframes mfe {
  0% {
    opacity: 0;
    transform: scale(0) translateX(180px) translateY(150px) rotate(100deg);
  }
  100% {
    opacity: 1;
    transform: scale(1.8) translateX(20px) translateY(15px) rotate(30deg);
  }
}

@keyframes bull {
  0% {
    opacity: 0;
    transform: scale(0.2) translateX(-20px) translateY(40px) rotate(50deg);
  }
  100% {
    opacity: 1;
    transform: scale(1.5) translateX(50px) translateY(0px) rotate(10deg);
  }
}

@keyframes bff {
  0% {
    opacity: 0;
    transform: scale(0) translateX(60px) translateY(25px) rotate(-20deg);
  }
  100% {
    opacity: 1;
    transform: scale(1.7) translateX(25px) translateY(5px) rotate(0deg);
  }
}

@keyframes lab {
  0% {
    opacity: 0;
    transform: scale(0) translateX(0px) translateY(25px) rotate(-20deg);
  }
  100% {
    opacity: 1;
    transform: scale(1.3) translateX(25px) translateY(-12px) rotate(5deg);
  }
}

@keyframes object-wrapper {
  0% {
    overflow: hidden;
  }
  25% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

@keyframes object-wrapper--rocket {
  0% {
    overflow: hidden;
  }
  60% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

@keyframes object-wrapper--bff {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

@keyframes object-wrapper--lab {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

@define-mixin animation-properties $wrapper, $name, $delay {
  animation: $wrapper 500ms linear forwards $delay;
  .project__picture-wrapper {
    animation: $name 500ms ease-out forwards $delay;
  }
}

.projects__content {
  margin: auto;
  max-width: var(--main-width);
  > *:nth-child(even) {
    flex-direction: var(--project-even-flex-direction);
    .project__year {
      text-align: var(--project-name-even-text-align);
    }
    .project__name {
      text-align: var(--project-name-even-text-align);
    }
    .project__sub {
      text-align: var(--project-sub-even-text-align);
    }
    .project__picture {
      margin: var(--project-picture-margin);
    }
    .tags {
      justify-content: var(--tags-even-justify-content);
    }
  }

  & > * {
    padding-bottom: var(--space-l);
    width: 100%;
    overflow-x: hidden;
    display: flex;
    max-width: var(--main-width);
    flex-direction: var(--project-flex-direction);
    align-items: var(--project-align-items);
    margin-bottom: var(--space-s);
  }

  .project__detail {
    margin-left: var(--project-detail-margin);
    margin-right: var(--project-detail-margin);
  }
  .already-been-visible {
    .project__picture--mfe {
      @mixin animation-properties object-wrapper, mfe, 200ms;
    }
    .project__picture--rocket {
      @mixin animation-properties object-wrapper--rocket, rocket, 200ms;
    }
    .project__picture--teaching {
      @mixin animation-properties object-wrapper, teaching, 200ms;
    }
    .project__picture--bull {
      @mixin animation-properties object-wrapper, bull, 200ms;
    }
    .project__picture--bff {
      @mixin animation-properties object-wrapper--bff, bff, 200ms;
    }
    .project__picture--lab {
      @mixin animation-properties object-wrapper--lab, lab, 200ms;
    }
  }

  .project__picture {
    overflow: hidden;
    user-select: none;
    pointer-events: none;

    border-radius: 50%;
    box-shadow: var(--liquid-circle-shadow);

    width: var(--project-picture-size);
    height: var(--project-picture-size);

    margin: var(--project-picture-margin) var(--project-picture-margin)
      var(--project-picture-margin) calc(var(--project-picture-margin) * 2);

    img {
      position: absolute;
      max-width: calc(var(--project-picture-size) / 1.5);
    }

    &.project__picture--rocket {
      background-color: var(--project-background-rocket);
    }
    &.project__picture--bull {
      background-color: var(--project-background-bull);
    }
    &.project__picture--teaching {
      background-color: var(--project-background-teaching);
    }
    &.project__picture--mfe {
      background-color: var(--project-background-mfe);
    }
    &.project__picture--bff {
      background-color: var(--project-background-bff);
    }
    &.project__picture--lab {
      background-color: var(--project-background-lab);
    }

    div {
      opacity: 0;
      img {
        width: 100%;
      }
    }
  }

  .project__year {
    display: block;
    opacity: 0.4;
    text-align: var(--project-name-text-align);
  }

  .project__name {
    display: block;
    font-size: var(--project-name-font-size);
    font-weight: var(--project-name-font-weight);
    text-align: var(--project-name-text-align);
  }

  .project__sub {
    display: block;
    font-size: var(--project-sub-font-size);
    font-weight: var(--project-sub-font-weight);
    text-align: var(--project-sub-text-align);
    opacity: var(--project-sub-opacity);
    text-wrap: var(--project-sub-text-wrap);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--tags-justify-content);
    padding: 0;
    margin: 0;
    margin-top: var(--space-xxs);
    li {
      cursor: default;
      display: inline-block;
      padding: var(--tag-padding);
      margin: var(--tag-margin);
      border-radius: var(--tag-border-radius);
      color: var(--tag-color);
      background-color: var(--tag-background);
      box-shadow: var(--tag-box-shadow);
      font-size: var(--tag-font-size);
      font-weight: var(--tag-font-weight);
      text-align: center;
      text-decoration: none;
      transition: var(--tag-transition);
      &:hover {
        transform: var(--tag-hover-scale);
      }
      &.tag--role {
        color: var(--tag-role-color);
        background-color: var(--tag-role-background);
      }
      &.tag--csp {
        color: var(--tag-csp-color);
        background-color: var(--tag-csp-background);
      }
    }
  }

  a[href^="http"],
  a[href^="http"]:hover,
  a[href^="http"]:focus {
    color: var(--color);
    text-decoration: none;
    padding-right: 1.25em;
  }

  a[href^="http"]::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    background-size: 100%;
    background-image: var(--project-external-link-icon);
    transform: translateY(0.25em);
  }
}
