@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /* Typography */
  --font-family: "Outfit", sans-serif;
  --font-size-s: 1rem;
  --font-size-sm: 1.2rem;
  --font-size-m: 1.4rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;
  --font-weight-normal: normal;
  --font-weight-light: 200;
  --font-weight-semibold: 400;
  --font-weight-bold: bold;

  /* Dimensions */
  --space-xxs: 0.3rem;
  --space-xs: 1rem;
  --space-s: 2rem;
  --space-m: 3rem;
  --space-l: 5rem;
  --space-xl: 8rem;
  --main-width: 1000px;
  --body-padding: var(--space-m) var(--space-s);
  --section-margin-top: var(--space-xl);

  /* Hero */
  --hero-padding: 0px var(--space-m) 0px var(--space-m);
  --hero-picture-size: 250px;
  --hero-picture-background: rgb(242, 242, 242);
  --hero-identity-font-size: var(--font-size-xl);
  --hero-identity-font-weight: var(--font-weight-bold);
  --hero-job-font-size: var(--font-size-l);
  --hero-job-font-weight: var(--font-weight-light);
  --hero-fullstack-font-size: var(--font-size-s);
  --hero-fullstack-background: #FFFFFF66;
  --hero-fullstack-padding: 0 var(--space-xxs);
  --hero-fullstack-border-radius: 5px;
  --hero-btn-icon-offset-y: 5px;
  --hero-btn-linkedin-size: 20px;
  --hero-btn-github-size: 35px;
  --hero-btn-mail-wrapper-width: initial;

  /* Hero Sticky */
  --hero-sticky-font-size: var(--font-size-m);
  --hero-sticky-blur: blur(12px);
  --hero-sticky-picture-size: 75px;
  --hero-sticky-padding: 0px 0px 0px var(--space-xs);
  --hero-sticky-margin: var(--space-xs);
  --hero-sticky-btn-tiny-mail-display: none;
  --hero-sticky-btn-mail-display: initial;
  --hero-sticky-btn-linkedin-display: initial;
  --hero-sticky-btn-github-display: initial;

  /* Projects */
  --project-background-color-rocket: rgb(35, 35, 59);
  --project-background-color-bag: rgb(54, 144, 120);
  --project-background-color-website: rgb(134, 183, 97);
  --project-align-items: flex-start;
  --project-flex-direction: row;
  --project-even-flex-direction: row-reverse;
  --project-name-font-size: var(--font-size-l);
  --project-name-font-weight: var(--font-weight-bold);
  --project-sub-font-size: var(--font-size-s);
  --project-sub-font-weight: var(--font-weight-light);
  --project-picture-size: 150px;
  --project-picture-margin: 23px; /* picture translates */
  --project-name-text-align: start;
  --project-name-even-text-align: end;
  --project-sub-text-align: start;
  --project-sub-even-text-align: end;
  --project-detail-margin: var(--space-s);

  /* Skills */
  --skill-hover-scale: scale(1.3);
  --skill-hover-blur: blur(12px);
  --skill-width: 170px;
  --skill-height: 120px;
  --skill-hover-transition: transform 0.2s ease-in-out;
  --skill-font-weight: var(--font-weight-light);
  --skill-kpi-font-weight: var(--font-weight-normal);
  --skill-kpi-font-size: var(--font-size-xxl);
  --skill-technology-font-size: var(--font-size-s);
  --skill-technology-font-weight: var(--font-weight-bold);
  --skill-padding: var(--space-xs) var(--space-xxs) var(--space-xs)
    var(--space-xxs);
  --skill-margin: var(--space-xs);
  --skills-sinusoid-transform: rotate(45deg);

  /* Tags */
  --tags-justify-content: flex-start;
  --tags-even-justify-content: flex-end;
  --tag-padding: var(--space-xxs) var(--space-xs);
  --tag-margin: var(--space-xxs);
  --tag-border-radius: 1rem;
  --tag-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  --tag-font-size: var(--font-size-s);
  --tag-font-weight: var(--font-weight-semibold);
  --tag-transition: transform 0.2s ease-in-out;
  --tag-hover-scale: scale(1.2);
  --tag-background-color: #fff;
  --tag-role-background-color: rgb(171, 255, 210);
  --tag-csp-background-color: rgb(249, 250, 163);

  /* Colors */
  --light-foreground: #000;
  --light-background-primary: #b0c8d8;
  --light-background-secondary: #d3fff3;
  --light-background: linear-gradient(
    80deg,
    var(--light-background-primary),
    var(--light-background-secondary)
  );
  --dark-foreground: #fff;
  --dark-background-primary: #12191e;
  --dark-background-secondary: #0e1f20;
  --dark-background: linear-gradient(
    80deg,
    var(--dark-background-primary),
    var(--dark-background-secondary)
  );
  --foreground: var(--light-foreground);
  --background: var(--light-background);
  --background-primary: var(--light-background-primary);

  /* Sinusoid */
  --sinusoid-color: #fff;
  --sinusoid-stroke-width: 2rem;

  /* Liquid */
  --liquid-circle-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

  /* Buttons & Links */
  --link-hover-opacity: 0.8;
  --theme-toggle-text: "🌞";
}

[data-theme="dark"] {
  --theme-toggle-text: "🌚";

  --foreground: var(--dark-foreground);
  --background: var(--dark-background);
  --background-primary: var(--dark-background-primary);
  --sinusoid-color: hsl(160, 41%, 16%);

  --hero-picture-background: rgb(0, 45, 52);
  --hero-fullstack-background: var(--sinusoid-color);

  --tag-background-color: hsl(160, 41%, 35%);
  --tag-role-background-color: #914011;
  --tag-csp-background-color: rgb(19, 93, 133);
}

[data-theme="light"] {
  --foreground: var(--light-foreground);
  --background: var(--light-background);
  --background-primary: var(--light-background-primary);
}

@media (max-width: 750px) {
  :root {
    --hero-sticky-font-size: var(--font-size-sm);
  }
}

@media (max-width: 700px) {
  :root {
    --body-padding: var(--space-s) var(--space-s);
    --section-margin-top: var(--space-l);

    --hero-padding: 0;
    --hero-btn-mail-wrapper-width: 100%;

    --hero-sticky-font-size: var(--font-size-s);
    --hero-sticky-btn-tiny-mail-display: initial;
    --hero-sticky-btn-mail-display: none;
    --hero-sticky-btn-linkedin-display: none;
    --hero-sticky-btn-github-display: none;

    --skills-sinusoid-transform: rotate(180deg);

    --project-align-items: center;
    --project-detail-margin: 0px;
    --project-flex-direction: column;
    --project-even-flex-direction: column;
    --project-picture-margin: var(--space-s);
    --project-name-text-align: center;
    --project-name-even-text-align: center;
    --project-sub-text-align: justify;
    --project-sub-even-text-align: justify;

    --tags-justify-content: center;
    --tags-even-justify-content: center;
  }
}

/* Bug on iOS + Chrome, displaying safe margin in landscape mode */
@media (pointer: none) and (orientation: landscape),
  (pointer: coarse) and (orientation: landscape) {
  [data-theme="dark"] {
    --background: var(--dark-background-primary);
  }
  [data-theme="light"] {
    --background: var(--light-background-primary);
  }
}
